.DS_Store
.next
.nuxt
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo
*.vitest-temp.json

.direnv
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

__screenshots__

docs/.vitepress/dist
docs/.vitepress/cache